[build]
  functions = "netlify/functions"
  publish = "public"

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

[context.production]
  environment = { STICKY_IO_API_KEY = "", STICKY_IO_API_URL = "" }